.Certificate-preview {
  background-image: url('https://storage.googleapis.com/vts-public/certificate.pdf%20-%20Page%201%20of%201.png');
  height: 100vh;
  background-repeat: no-repeat;
  margin: auto;
  width: 900px;
  font-size: 0.8rem;
}

.certificate-f {
  gap: 9rem;
  display: flex;
  padding-top: 15rem;
}

.certificate-f-p {
  margin-left: 7.7rem;
  position: fixed;
  width: 8.7rem;
}

.certificate-s-p {
  margin-left: 19.9rem;
  position: fixed;
  width: 8.9rem;
}

.certificate-th-p {
  margin-left: 31.3rem;
  position: fixed;
  width: 8.8rem;
}

.certificate-fr-p {
  margin-left: 45rem;
  position: fixed;
  width: 6rem;
}

.certificate-t {
  display: flex;
  gap: 10rem;
  margin-top: 2.4rem;
}

.certificate-t-f-p {
  margin-left: 8.5rem;
  position: fixed;
  width: 8.5rem;
}

.certificate-t-s-p {
  position: fixed;
  margin-left: 25rem;
  width: 9rem;
}

.text-c {
  text-align: center;
}
.download-btn-custom {
  position: absolute;
  bottom: 5rem;
  right: 0;
  background-color: #F99234 !important;
  font-weight: 600;
}

.certificate-number {
  position: fixed;
  margin-top: 14.5rem;
  margin-left: 9.5rem;
}




