.Certificate-preview {
  background-image: url('https://storage.googleapis.com/vts-public/certificate.pdf%20-%20Page%201%20of%201.png');
  height: 100%;
  background-repeat: no-repeat;
  margin: auto;
  width: 900px;
}

.certificate-f {
  gap: 9rem;
  display: flex;
  padding-top: 15rem;
}

.certificate-f-p {
  margin-bottom: 1rem;
  margin-left: 8rem;
}

.certificate-s-p {
  margin-left: 1rem;
}

.certificate-th-p {
  margin-left: -0.4rem;
}

.certificate-fr-p {
  margin-left: 1rem;
}

.certificate-t {
  display: flex;
  gap: 10rem;
  margin-top: -0.2rem;
}

.certificate-t-f-p {
  margin-left: 8.5rem;
}

.certificate-t-s-p {
  margin-left: 2.3rem
}


